<div class='card-info'>
  <div id='card-container'>
    <div class='card-div'>
      <div class='card-description-container'>
        <div>
          <img class='cards' src='{{card.img}}' />
        </div>
        <div>
          <table>
            {{#if card.name}}
              <tr>
                <td>Название:</td>
                <td>{{card.name}}</td>
              </tr>
            {{/if}}
            {{#if card.type}}
              <tr>
                <td>Тип карты:</td>
                <td>{{card.type}}</td>
              </tr>
            {{/if}}
            {{#if card.subtype}}
              <tr>
                <td>Подтип:</td>
                <td>{{card.subtype}}</td>
              </tr>
            {{/if}}
            {{#if card.description}}
              <tr>
                <th>Описание:</th>
                <td>{{card.description}}</td>
              </tr>
            {{/if}}
            {{#if card.rarity}}
              <tr>
                <th>Редкость:</th>
                <td>{{card.rarity}}</td>
              </tr>
            {{/if}}
          </table>
        </div>
      </div>
    </div>
  </div>
  <table class='card-sellers'>
    <tr>
      <th>Продавец</th>
      <th>Цена</th>
      <th>Состояние</th>
      <th>Фольгированная</th>
      <th>Город</th>
      <th>Кол-во</th>
      <th>В корзину</th>
    </tr>
    {{#each sellers}}
      <tr>
        <td>
          {{this.User.fullName}}
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          {{this.quality}}
        </td>
        <td>
          {{this.isFoil}}
        </td>
        <td>
          {{this.User.city}}
        </td>
        <td>
          <input type='number' name='number' value={{this.number}} style='width: 60px;' />
        </td>
        <td>
          <button id={{this.id}} class='buyBtn' type='click'>Добавить в корзину</button>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
