<div id='cart-container'>
  <h1 id='carts-title'>Оформление заказа</h1>

  {{#if orders}}
    <h3 id='carts-list'>Список карт:</h3>
    <table class='card-sellers'>
      <tr>
        <th></th>
        <th>Название</th>
        <th>Продавец</th>
        <th>Цена</th>
        <th>Состояние</th>
        <th>Фольгированная</th>
        <th>Город</th>
        <th>Кол-во</th>
        <th>Максимум</th>
        <th></th>
      </tr>
      {{#each orders}}
        <tr>
          <td>
            <a class='card-name' href='/cards/{{this.Card.id}}'>
              <img class='card-name' src='{{this.Card.img}}' , style='width: 60px; height:100px;' />
            </a>
          </td>
          <td>
            {{this.Card.name}}
          </td>
          <td>
            {{this.User.fullName}}
          </td>
          <td>
            {{this.price}}
          </td>
          <td>
            {{this.quality}}
          </td>
          <td>
            {{this.isFoil}}
          </td>
          <td>
            {{this.User.city}}
          </td>
        <td>
          <input
            id='items-number-{{this.id}}'
            class='number-of-cards'
            type='number'
            name='number'
            value='1'
            max={{this.number}}
            style='width: 60px;'
          />
        </td>
        <td>
          {{this.number}}
        </td>
          <td><button id={{this.id}} class='removeBtn'>Удалить</button></td>
        </tr>
      {{/each}}
    </table>
    <input id='OrderBtn' type='submit' value='Оформить заказ' />
  {{else}}
    <h1>Корзина пуста</h1>
  {{/if}}
</div>
