<h1>Оформление заказа</h1>

{{#if cards}}
  <h3>Список карт:</h3>
  <table class='card-sellers'>
    <tr>
      <th>Название</th>
      <th>Продавец</th>
      <th>Цена</th>
      <th>Состояние</th>
      <th>Фольгированная</th>
      <th>Город</th>
    </tr>
    {{#each cards}}
      <tr>
        <td>
          {{this.CardName}}
        </td>
        <td>
          {{this.UserLogin}}
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          {{this.quality}}
        </td>
        <td>
          {{this.isFoil}}
        </td>
        <td>
          {{this.city}}
        </td>
        <td><button id={{this.id}} class='removeBtn'>Удалить</button></td>
      </tr>
    {{/each}}
  </table>
  <input id='OrderBtn' type='submit' value='Оформить заказ' />
{{else}}
  <h1>Корзина пуста</h1>
{{/if}}
