<div class="profile-container">
  <h2 class="profile-name">{{session.user.login}}</h2>
  <p class="profile-city">{{session.user.city}}</p>
</div>

<table class='card-sellers'>
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Состояние</th>
      <th>Фольгированная</th>
    </tr>
  {{#each cards}}
   <tr>
        <td>
          <a class='card-name' href='/api/cards/{{this.CardId}}'>
            {{this.CardName}}
          </a>
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          {{this.quality}}
        </td>
        <td>
          {{this.isFoil}}
        </td>
      </tr>
  {{/each }}
  </table>

